
-# = shows a community


%h2 Details for @commune.name:




%table#commune
  %thead
    %tr
      %th All residents #sort by!!!
      %th Articles available
  %tbody
    - @commune.residents.each do |resident|
      %tr
        %td = resident
        - resident.articles.each do |article|
        %tr 
          %td = article 


= link_to 'Add new resident', new_resident_path    




